html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #202738 50%, #0A0C1F 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.5);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .linehr {
    
    
    color: #46A29E;
    background-color: #46A29E;
    height: 3px;
  }

  .headin {
      color: #66FCF0;
      font-size: 40px;
      font-weight: 900;
  }

  .button {
    font-weight: bold;
    border: none;
    color: #202738;
    padding: 15px 68px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #66FCF0;
  }

  .formlabel {
    font-family: Helvetica, sans-serif;
    color: #66FCF0;
    font-weight: bold;
    font-size: 30px;
  }

  .cityname {
    font-family: Helvetica, sans-serif;
    color: #66FCF0;
    font-weight: bold;
    font-size: 30px;
  }

  .temp {
    font-family: Helvetica, sans-serif;
    color: #66FCF0;
    font-weight: bold;
    font-size: 60px;
  }

  .temp1 {
    font-family: Helvetica, sans-serif;
    color: #66FCF0;
    font-size: 25px;
  }

  .dayname {
    font-family: Helvetica, sans-serif;
    color: #66FCF0;
    font-size: 25px;
    font-weight: bold;
  }

  .wi {
    color: #66FCF0;
  }